credentials.py
__pycache__/
*.pyc

# Certifications
certs/

# Databases
/backend/databases/app_database.db
/backend/databases/client_database.db

# Environment variables
backend/.env
frontend/.env
superset/.env
env/

# Virtual environment
venv/

# Kubernetes configuration
docshow-ai-prod-kubeconfig.yaml